body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
}

.ranUI {
  line-height: 2;
  background-color: #aec42e;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

nav a {
  font-size: 20px;
  text-decoration: none;
  margin: 10px 10px;
  padding: 13px 40px;
  background-color: #f0e494;
  border-radius: 8px;
  font-weight: bold;
  color: black;
}
.navbar-wrapper {
  position: fixed;
  bottom: 0;
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  background-color: #1c3455;
}
.backToHomeBtn {
  background-color: #1c3455;
  font-weight: bold;
  border-radius: 6px;
  margin: 50px auto;
  cursor: pointer;
  padding: 13px 40px;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  width: 300px;
  color: #fff;
  text-decoration: none;
}
h1 {
  text-align: center;
}
nav a:visited {
  color: black;
}
.YesUI {
  display: inline-block;
  padding: 15px 45px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4caf50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.YesUI:hover {
  background-color: #3e8e41;
}

.YesUI:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.NoUI {
  display: inline-block;
  padding: 15px 45px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #af4c4c;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.NoUI:hover {
  background-color: #3e8e41;
}

.NoUI:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

div.card {
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  width: 100%;
  margin-bottom: 60px;
}

div.header {
  background-color: rgb(255, 253, 253);
  color: white;
  padding: 5px;
  font-size: 25px;
  text-align: center;
  width: 100%;
}

div.container {
  padding: 20px;
  text-align: center;
  width: 100%;
}

div.container2 {
  background-color: #dddddd;
  padding: 10px;
  text-align: center;
  width: 100%;
}

div.container3 {
  background-color: #e6e6e6;
  padding: 20px;
  text-align: center;
  width: 100%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.rcorners1 {
  border-radius: 25px;
  border: 2px solid #8ac007;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: auto;
  display: inline-block;
}

.rcorners2 {
  border-radius: 25px;
  border: 2px solid #8ac007;
  padding: 20px;
  width: 200px;
  height: 150px;
  margin: auto;
}

.CUI {
  display: inline-block;
  padding: 10px 35px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #be8627;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.CUI:hover {
  background-color: #3e8e41;
}

.CUI:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.AUI {
  background-color: #1c3455;
}
